<hr>
<footer>
    <div class="copyright-area copyright-default separator-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="social-share">
                        <a href="https://www.facebook.com/profile.php?id=100086292134569&mibextid=ZbWKwL"
                            target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://chat.whatsapp.com/Bf4ZQ6I5hM3Cp3bgniRVcF" target="_blank"><i
                                class="fab fa-whatsapp"></i></a>
                        <a href="https://t.me/Abosteetgroup" target="_blank"><i class="fab fa-telegram"></i></a>
                        <a href="tel:+01221522821"><i class="fas fa-phone"></i></a>
                        <a href="tel:+01062794576 "><i class="fas fa-mobile-screen"></i></a>
                        <!-- <a href="#"><i class="fab fa-discord"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="copyright-left d-flex flex-wrap justify-content-center">
                        <ul class="quick-link p-0">
                            <li>{{"footer.allRightsReserved"|translate}} <a target="_blank"
                                    href="">{{"footer.companyName"|translate}}</a>.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div
                        class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                        <a><img src="https://s01.flagcounter.com/countxl/8Z8L/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_9/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
                                alt="Flag Counter" border="0"></a>
                        <!-- <span class="card-text">Accept For</span>
                        <ul class="payment-icons-bottom quick-link">
                            <li><img src="assets/images/payment/cart-1.png" alt="paypal cart"></li>
                            <li><img src="assets/images/payment/cart-2.png" alt="paypal cart"></li>
                            <li><img src="assets/images/payment/cart-5.png" alt="paypal cart"></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>