<!-- <div class="d-flex justify-content-between align-items-center">
    <button routerLink="../controls" class="btn btn-primary mb-3">Go Back</button>
    <div class="mb-3">
        <p-button class="mb-3 mx-2" icon="pi pi-filter" label="Filter" (click)="filterModal = true;getEmirates()">
        </p-button>
        <p-button *ngIf="hasDashboardCreate" (click)="uploadModal = true" class="mb-3 mx-2" icon="pi pi-external-link"
            label="Upload"></p-button>
        <p-button *ngIf="hasDashboardDelete" class="mb-3 mx-2" icon="pi pi-trash" label="Recycle Bin"
            routerLink="./recycle-bin"></p-button>
        <p-button *ngIf="hasDashboardCreate" class="mb-3 mx-2" icon="pi pi-plus" label="Add Row" routerLink="./insert">
        </p-button>
        <p-button (click)="filterColumns = true" class="mb-3 mx-2" icon="pi pi-sliders-v" label="Select Columns">
        </p-button>
    </div>
</div> -->
<!-- <p-dialog header="Please upload a file included all properties" [(visible)]="uploadModal" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">

    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="getSample()">Download Sample</button>
        </div>
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary">Upload a file</button>
            <input type="file" name="myfile" (change)="onFileSelected($event)" />
        </div>
    </ng-template>
</p-dialog> -->
<!-- <p-dialog header="Set Custom Info" [(visible)]="filterModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container">
        <div class="row mx-0">
            <div class="col-12 my-3">
                <label for="">States</label>
                <p-dropdown #filter1 [options]="emirates" optionLabel="name" optionValue="id" styleClass="w-100">
                </p-dropdown>
            </div>
            <div class="col-12 my-3">
                <label for="">Area Name En</label>
                <input #filter2 type="text" pInputText ngClass="w-100" />
            </div>
            <div class="col-12 my-3">
                <label for="">Area Name Ar</label>
                <input #filter3 type="text" pInputText ngClass="w-100" />
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filter(filter1,filter2,filter3);filterModal = false;">Apply
                Filter</button>
        </div>
    </ng-template>
</p-dialog> -->
<!-- <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog> -->

<section class="mt-5">
    <div class="container pt-5">
        <div class="card mt-5">
            <p-table [value]="orders" [paginator]="true" [rows]="PaginationInfo?.per_page"
                [totalRecords]="PaginationInfo?.total" [lazy]="true" (onPage)="paginate($event)"
                [showCurrentPageReport]="true" responsiveLayout="scroll" (onLazyLoad)="loadPatientListing($event)"
                currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries"
                [rowsPerPageOptions]="[10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Client Name</th>
                        <th class="text-center">Client Mobile</th>
                        <th class="text-center">Total Price</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td class="text-center">{{order?.user?.name}}</td>
                        <td class="text-center">{{order?.user?.mobile}}</td>
                        <td class="text-center">{{order?.total_price}}</td>
                        <td class="text-center">{{order?.status}}</td>
                        <td class="text-center">
                            <!-- <button pButton type="button" icon="pi pi-pencil"  class="m-1 p-button-warning p-button-sm"></button> -->
                            <button pButton type="button" icon="pi pi-eye" (click)="showRow(order?.id)"
                                class="m-1 p-button-sm"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>


<!-- <p-dialog header="Select Your Columns" [(visible)]="filterColumns" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="container" #checkboxContainer>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="id" [(ngModel)]="selectedColumns" inputId="c1"></p-checkbox>
            <label class="mx-3" for="c1">Id</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="area_ar" [(ngModel)]="selectedColumns" inputId="c2"></p-checkbox>
            <label class="mx-3" for="c2">Area Ar <i class="fa-solid fa-check"></i></label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="area_en" [(ngModel)]="selectedColumns" inputId="c3"></p-checkbox>
            <label class="mx-3" for="c3">Area En <i class="fa-solid fa-check"></i></label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="emirate_id" [(ngModel)]="selectedColumns" inputId="c4"></p-checkbox>
            <label class="mx-3" for="c4">State Id</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="emirate_name_ar" [(ngModel)]="selectedColumns" inputId="c5"></p-checkbox>
            <label class="mx-3" for="c5">States name ar</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="emirate_name_en" [(ngModel)]="selectedColumns" inputId="c6"></p-checkbox>
            <label class="mx-3" for="c6">States name en</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="emirate_type" [(ngModel)]="selectedColumns" inputId="c7"></p-checkbox>
            <label class="mx-3" for="c7">States type</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="emirate_inbody" [(ngModel)]="selectedColumns" inputId="c8"></p-checkbox>
            <label class="mx-3" for="c8">States Inbody</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="emirate_deleted_at" [(ngModel)]="selectedColumns" inputId="c9">
            </p-checkbox>
            <label class="mx-3" for="c9">States deleted_at</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" value="deleted_at" [(ngModel)]="selectedColumns" inputId="c10"></p-checkbox>
            <label class="mx-3" for="c10">Deleted At</label>
        </div>
        <div class="field-checkbox my-3">
            <p-checkbox name="group1" #currentCheckbox (click)="selectAllColumns(checkboxContainer,currentCheckbox)"
                value="selectAll" inputId="c100"></p-checkbox>
            <label class="mx-3" for="c100">Select All</label>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="upload-btn-wrapper">
            <button class="btn btn-primary" (click)="filterColumns = false;getFilterColumns()">Apply</button>
        </div>
    </ng-template>
</p-dialog> -->