.mb--40 {
    margin-bottom: 40px;
}.axil-product {
    position: relative;
}



.slick-initialized .slick-slide {
    outline: none;
    margin-bottom: 0;
}
.slick-initialized .slick-slide {
    margin-bottom: -10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}.single-product-thumbnail .thumbnail img {
    width: 100%;
    border-radius: 6px;
}

.slick-slide img {
    display: block;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.single-product-thumbnail.thumbnail-badge .thumbnail .label-block {
    position: absolute;
    top: 30px;
}.single-product-thumbnail.thumbnail-badge .thumbnail .label-block .product-badget {
    background-color: var(--color-primary);
    line-height: 1;
    padding: 6px 10px 5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
}.position-view {
    position: absolute;
    bottom: 47px;
    right: 92px;
    z-index: 4;
}.product-quick-view a {
    background: #fff;
    width: 48px;
    height: 48px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.slick-initialized .slick-slide {
    outline: none;
    margin-bottom: 0;
}
.slick-initialized .slick-slide {
    margin-bottom: -10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}.single-product-thumbnail .thumbnail img {
    width: 100%;
    border-radius: 6px;
}

.slick-slide img {
    display: block;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.single-product-thumbnail.thumbnail-badge .thumbnail .label-block {
    position: absolute;
    top: 30px;
}.single-product-thumbnail.thumbnail-badge .thumbnail .label-block .product-badget {
    background-color: var(--color-primary);
    line-height: 1;
    padding: 6px 10px 5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
}.position-view {
    position: absolute;
    bottom: 47px;
    right: 92px;
    z-index: 4;
}.product-quick-view a {
    background: #fff;
    width: 48px;
    height: 48px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}.slick-track:after {
    clear: both;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}.single-product-thumbnail.thumbnail-badge .thumbnail {
    padding-right: 45px;
    position: relative;
}

.slick-initialized .slick-slide {
    outline: none;
    margin-bottom: 0;
}
.slick-initialized .slick-slide {
    margin-bottom: -10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}.single-product-thumbnail .thumbnail img {
    width: 100%;
    border-radius: 6px;
}

.slick-slide img {
    display: block;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}.single-product-thumbnail.thumbnail-badge .thumbnail .label-block.label-right {
    right: 30px;
}
.single-product-thumbnail.thumbnail-badge .thumbnail .label-block {
    position: absolute;
    top: 30px;
}.single-product-thumbnail.thumbnail-badge .thumbnail .label-block .product-badget {
    background-color: var(--color-primary);
    line-height: 1;
    padding: 6px 10px 5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
}.position-view {
    position: absolute;
    bottom: 47px;
    right: 92px;
    z-index: 4;
}.product-quick-view a {
    background: #fff;
    width: 48px;
    height: 48px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.single-product-content .inner .product-meta li i {
    padding-right: 15px;
    font-size: 18px;
}.single-product-content .inner .product-meta li {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 0;
}.single-product-content .inner .price-amount {
    font-weight: 500;
    font-size: 24px;
    font-family: var(--font-secondary);
    display: block;
    margin-bottom: 10px;
    color: var(--color-black);
}.single-product-content .inner .product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 1;
    padding-bottom: 20px;
    border-bottom: 2px solid #f6f7fb;
}.single-product-content .inner .description {
    margin-bottom: 15px;
}
p {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    font-weight: var(--p-regular);
    color: var(--color-body);
    margin: 0 0 30px;
}
// color
.single-product-content .inner .product-variation {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}.single-product-content .inner .product-variation .title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    min-width: 114px;
}.single-product-content .inner .product-variation .color-variant {
    margin: -5px !important;
}
.color-variant li {
    margin: 5px 2px;
    cursor: pointer;
}.single-product-content .inner .product-variation .color-variant li {
    margin: 5px;
}
.color-variant li.color-extra-01.active span {
    border-color: #ff8666;
}

.color-variant li>span {
    border: 2px solid rgba(0,0,0,0);
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: var(--transition);
}.single-product-content .inner .product-variation .color-variant li>span .color {
    width: 11px;
    height: 11px;
}

.color-variant li.color-extra-01.active span {
    border-color: #ff8666;
}
.color-variant li.color-extra-01 span .color {
    background: #ff8666;
}
.color-variant li>span .color {
    display: block;
    width: 9px;
    height: 9px;
    line-height: 1;
    border-radius: 50%;
    border: none;
}.color-variant li.color-extra-02 span .color {
    background: #ff497c;
}.color-variant li.color-extra-02.active span {
    border-color: #ff497c;
}.color-variant li.color-extra-03 span .color {
    background: #8d6abe;
}.color-variant li.color-extra-03.active span {
    border-color: #8d6abe;
}.color-variant {
    margin: -5px -2px;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}.single-product-content .inner .product-variation {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}.single-product-content .inner .product-variation .title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    min-width: 114px;
}.range-variant {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -5px;
    padding-left: 0;
}.range-variant li {
    border: 2px solid #f6f7fb;
    background: #fff;
    padding: 5px 13px;
    border-radius: 30px;
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 24px;
    margin: 5px;
    cursor: pointer;
    transition: .3s;
}.range-variant li:hover {
    border-color: #656973;
}
.range-variant li.active {
    border-color: #656973;
}
.d-flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}.pro-qty {
    width: 130px;
    border-radius: 50px;
}.pro-qty .qtybtn {
    width: 32px;
    display: block;
    float: left;
    line-height: 26px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    height: 32px;
    background: #f6f7fb;
    border-radius: 50%;
    transition: .3s;
    border: 2px solid rgba(0,0,0,0);
}.pro-qty input {
    width: 28px;
    float: left;
    border: none;
    height: 32px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    font-weight: 500;
    margin: 0 12px;
    color: #27272e;
}.product-action-wrapper .product-action {
    flex: 1;
}
.mb--0 {
    margin-bottom: 0 !important;
}
.product-action {
    list-style: none;
    padding: 0;
}.product-action-wrapper .product-action .add-to-cart {
    flex: 1;
}

.product-action li {
    margin: 0 10px;
}.product-action-wrapper .product-action .add-to-cart .axil-btn {
    width: 100%;
    text-align: center;
    display: block;
}.product-action li {
    margin: 0 10px;
}a.axil-btn.wishlist-btn, button.axil-btn.wishlist-btn {
    border: 2px solid var(--color-light);
    padding: 15px 16px 10px;
}
.pro-qty .qtybtn:hover {
    border-color: var(--color-primary);
}a.axil-btn.wishlist-btn:hover i, button.axil-btn.wishlist-btn:hover i {
    color: var(--color-white);
}a.axil-btn.wishlist-btn:hover:before, button.axil-btn.wishlist-btn:hover:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
}
a.axil-btn:hover:before, button.axil-btn:hover:before {
    transform: scale(1.1);
}
a.axil-btn.wishlist-btn:hover, button.axil-btn.wishlist-btn:hover {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
    background-color: var(--color-primary);
    border-color: var(--color-primary);;
}
.wishlist a{
    transition: all 0.3s ease-in-out;
}
.pro-qty .qtybtn{
    transition: all 0.3s ease-in-out;
}
.single-product-content .inner .product-rating .review-link a {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-body);
    transition: var(--transition);
}
.single-product-content .inner .product-rating .review-link a:hover {
    color: var(--color-heading);
}

// slick
.small-thumb-wrapper .slick-track {
    margin-left: 0;
}

// .slick-track {
//     position: relative;
//     top: 0;
//     left: 0;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
// .slick-track:before, .slick-track:after {
//     display: table;
//     content: '';
// }

.small-thumb-wrapper .small-thumb-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .4s;
}
.slick-initialized .slick-slide {
    outline: none;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}.small-thumb-wrapper .small-thumb-img:hover img, .small-thumb-wrapper .small-thumb-img.slick-current img {
    border-color: var(--color-primary);
}

.small-thumb-wrapper .small-thumb-img img {
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);
    width: 80px;
    height: auto;
    transition: all .2s;
}
.slick-slide img {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{h3, .h3 {
    font-size: 26px;
}}



// @media only screen and (min-width:1200px){
//     :host{
//         ::ng-deep .p-dialog-content{
//             padding-bottom: 0 ;
//         }
//     }
// }


@media only screen and (max-width: 767px)
{a.axil-btn, button.axil-btn {
    padding: 12px 25px;
    font-size: 14px;
}}@media only screen and (max-width: 767px)
{a.axil-btn.wishlist-btn, button.axil-btn.wishlist-btn {
    padding: 11px 18px 9px;
}}

@media only screen and (max-width: 767px)
{a.axil-btn, button.axil-btn {
    padding: 12px 25px;
    font-size: 14px;
}}
@media only screen and (max-width: 479px)
{.product-action-wrapper {
    flex-direction: column;
}}
@media only screen and (max-width: 479px)
{.product-action-wrapper .pro-qty {
    margin-bottom: 20px;
}}
@media screen and (max-width:1200px){
    // :host{
    //     ::ng-deep .p-dialog-content{
    //         padding-bottom: 30px !important;
    //     }
    // }    

    a.axil-btn:hover:before, button.axil-btn:hover:before {
        transform: scale(1.05) !important;
    }
    .single-product-thumbnail.thumbnail-badge .thumbnail{
        width: 100%;
    }
}