<section class="mt-5">
    <div class="container pt-5">
        <div class="row py-5">
            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Shipping:</span> {{details.shippingType}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>PaymentType:</span> {{details.paymentType}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Status:</span>{{details.status}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Total Price:</span> {{details.total_price}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Date Issue:</span> {{details.created_at | date}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Address:</span> {{details.address}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3" *ngIf="details.location">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Location:</span> {{details.location}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 my-3" *ngIf="details.notes">
                <div class="item shadow-lg rounded-4 bg-white text-dark py-3 text-center">
                    <span>Notes:</span> {{details.notes}}
                </div>
            </div>
        </div>
        <div class="card">
            <p-table [value]="details.products">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Count</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total price</th>
                        <th class="text-center">Date Issue</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td class="text-center">{{order?.count}}</td>
                        <td class="text-center">{{order?.price}}</td>
                        <td class="text-center">{{order?.total_price}}</td>
                        <td class="text-center">{{order?.created_at | date}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</section>