<main class="py-4">
    <section class="my-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-4 col-md-4 col-sm-6 my-4">
                    <div class="item shadow-lg rounded-3 bg-white text-dark py-3 text-center pointer" routerLink="../orders">
                        Orders
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 my-4">
                    <div class="item shadow-lg rounded-3 bg-white text-dark py-3 text-center pointer" routerLink="../products">
                        Products
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 my-4">
                    <div class="item shadow-lg rounded-3 bg-white text-dark py-3 text-center pointer" routerLink="../colors">
                        Colors
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 my-4">
                    <div class="item shadow-lg rounded-3 bg-white text-dark py-3 text-center pointer" routerLink="../sizes">
                        Sizes
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 my-4">
                    <div class="item shadow-lg rounded-3 bg-white text-dark py-3 text-center pointer" routerLink="../genders">
                        Genders
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 my-4">
                    <div class="item shadow-lg rounded-3 bg-white text-dark py-3 text-center pointer" routerLink="../categories">
                        Categories
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

