<main class="main-wrapper">
    <!-- Start Breadcrumb Area  -->
    <div class="axil-breadcrumb-area pt-5">
        <div class="container pt-5">
            <div class="row align-items-center pt-5">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a
                                    routerLink="../home">{{"shop.breadcrumb.home"|translate}}</a></li>
                            <li class="separator"></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">
                                {{"shop.breadcrumb.current"|translate}}</li>
                        </ul>
                        <h1 class="title">{{"shop.breadcrumb.title"|translate}}</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img src="assets/images/products/product-45.png" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area  -->

    <!-- Start Shop Area  -->
    <div class="axil-shop-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 my-4">
                    <div class="axil-shop-sidebar position-sticky" style="top: 25%;">
                        <!-- <div class="d-lg-none">
                            <button class="sidebar-close filter-close-btn"><i class="fas fa-times"></i></button>
                        </div> -->
                        <div class="toggle-list product-categories">
                            <h6 class="title" (click)="toggleFilterBtn('CATEGORIES',$event)">
                                {{"shop.filter.category"|translate}}</h6>
                            <div class="shop-submenu" *ngIf="categoryFilterBtn">
                                <ul>
                                    <li (click)="toggleClass($event,'current-cat')"
                                        [class.current-cat]="category.id == currentCategoryId"
                                        *ngFor="let category of filterOptions.categories">
                                        <a class="pointer" name="category"
                                            [attr.val]="category.id">{{category.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-list product-categories product-gender">
                            <h6 class="title" (click)="toggleFilterBtn('GENDER',$event)">
                                {{"shop.filter.gender"|translate}}</h6>
                            <div class="shop-submenu" *ngIf="genderFilterBtn">
                                <ul>
                                    <li (click)="toggleClass($event,'chosen')"
                                        *ngFor="let gender of filterOptions.genders">
                                        <a class="pointer" name="gender" [attr.val]="gender.id">{{gender.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-list product-color">
                            <h6 class="title" (click)="toggleFilterBtn('COLORS',$event)">
                                {{"shop.filter.color"|translate}}</h6>
                            <div class="shop-submenu" *ngIf="colorsFilterBtn">
                                <ul>
                                    <li (click)="toggleClass($event,'chosen')"
                                        *ngFor="let color of filterOptions.colors">
                                        <a class="color-extra-01 pointer" [style.background-color]="color.hexa"
                                            [style.border]="color.hexa.toLowerCase() == '#fff'&& '1px solid #000' "
                                            name="color" [attr.val]="color.id"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-list product-size">
                            <h6 class="title" (click)="toggleFilterBtn('SIZE',$event)">{{"shop.filter.size"|translate}}
                            </h6>
                            <div class="shop-submenu" *ngIf="sizeFilterBtn">
                                <ul>
                                    <li (click)="toggleClass($event,'chosen')" *ngFor="let size of filterOptions.sizes">
                                        <a class="pointer" name="size" [attr.val]="size.id">{{size.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-list product-price" *ngIf="false">
                            <h6 class="title" (click)="toggleFilterBtn('PRICE',$event)">{{"shop.filter.price"|translate}}
                            </h6>
                            <div class="shop-submenu" *ngIf="priceFilterBtn">
                                <h5>Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
                                <p-slider [min]="100" [max]="10000" [step]="10" [range]="true" [(ngModel)]="rangeValues"></p-slider>
                            </div>
                        </div>
                        <button class="axil-btn btn-bg-primary danger m-1" (click)="ApplyFilter()">
                            {{"buttons.apply"|translate}}
                        </button>
                        <!-- <button class="axil-btn btn-bg-primary m-1">{{"buttons.reset"|translate}}</button> -->
                    </div>
                    <!-- End .axil-shop-sidebar -->
                </div>
                <div class="col-lg-9 my-4">
                    <div class="row" *ngIf="products.length&&!skeletonStatus;else other_content">
                        <div class="col-lg-12">
                            <div class="axil-shop-top mb--40">
                                <div
                                    class="category-select align-items-center justify-content-lg-end justify-content-between">
                                    <!-- Start Single Select  -->
                                    <span class="filter-results">
                                        {{"shop.products.paginate"|translate : {from:1, to:
                                        products.length,total:pagination.total} }}</span>
                                    <select class="single-select" (change)="sort($event)">
                                        <option value="new">{{"shop.products.sort.byLatest"|translate}}</option>
                                        <option value="old">{{"shop.products.sort.byOldest"|translate}}</option>
                                        <option value="name">{{"shop.products.sort.byName"|translate}}</option>
                                        <option value="heigh price">{{"shop.products.sort.byPriceHeigh"|translate}}
                                        </option>
                                        <option value="low price">{{"shop.products.sort.byPriceLow"|translate}}</option>
                                    </select>
                                    <!-- End Single Select  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .row -->
                    <div class="row row--15" *ngIf="products.length&&!skeletonStatus">
                        <div class="col-xl-4 col-sm-6" *ngFor="let product of products">
                            <div class="axil-product product-style-one mb--30">
                                <div class="thumbnail">
                                    <a>
                                        <img [src]="product.images&&product.images[0].image" style="height: 300px;"
                                            alt="Product Images">
                                    </a>
                                    <div class="label-block label-right">
                                        <div class="product-badget">{{"labels.new"|translate: {min:product.min_quantity}
                                            }}</div>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="quickview pointer">
                                                <a (click)="displayDetails(product)">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li class="select-option" (click)="addToCart(product)">
                                                <a class="pointer">
                                                    {{"buttons.addToCart"|translate}}
                                                </a>
                                            </li>
                                            <li class="wishlist">
                                                <a href="wishlist.html">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title"><a href="single-product.html">{{product.name}}</a></h5>
                                        <div class="product-price-variant">
                                            <span
                                                class="price current-price">{{product.price}}{{"currency"|translate}}</span>
                                            <span class="price old-price" *ngIf="product?.old_price">
                                                {{product.price}}{{"currency"|translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="skeletonStatus2">
                            <div class="col-xl-4 col-sm-6" *ngFor="let paginate of perPage">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                        </ng-container>
                    </div>
                    <div *ngIf="skeletonStatus">
                        <div class="row">
                            <div class="col-xl-4 col-sm-6 my-2">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                            <div class="col-xl-4 col-sm-6 my-2">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                            <div class="col-xl-4 col-sm-6 my-2">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                            <div class="col-xl-4 col-sm-6 my-2">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                            <div class="col-xl-4 col-sm-6 my-2">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                            <div class="col-xl-4 col-sm-6 my-2">
                                <p-skeleton width="100%" height="18.75rem"></p-skeleton>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt--20" *ngIf="products.length&&!skeletonStatus">
                        <a #loadBtn (click)="loadMoreProducts(loadBtn)"
                            class="axil-btn btn-bg-lighter btn-load-more pointer">{{"buttons.loadMore"|translate}}</a>
                    </div>
                    <ng-template #other_content>
                        <div class="text-danger my-5 text-center">
                            {{"shop.products.emptyMsg" | translate}}
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>
        <!-- End .container -->
    </div>
    <!-- End Shop Area  -->

    <!-- Start Axil Newsletter Area  -->
    <div class="axil-newsletter-area axil-section-gap pt--0">
        <div class="container">
            <div class="etrade-newsletter-wrapper bg_image bg_image--5">
                <div class="newsletter-content">
                    <span class="title-highlighter highlighter-primary2"><i
                            class="fas fa-envelope-open"></i>{{"shop.subscribe.subtitle"|translate}}</span>
                    <h2 class="title mb--40 mb_sm--30">{{"shop.subscribe.title"|translate}}</h2>
                    <div class="input-group newsletter-form mt-5">
                        <div class="position-relative newsletter-inner mb--15 me-4 my-3">
                            <input placeholder="{{'shop.subscribe.subscribeInputPlaceholder'|translate}}" type="text"
                                #subscribeInput>
                        </div>
                        <button type="submit" class="axil-btn mb--15 my-3"
                            (click)="getEmailSubscribe(subscribeInput)">{{"buttons.subscribe"|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .container -->
    </div>
    <!-- End Axil Newsletter Area  -->
</main>

<div *ngIf="productDetailsStatus">
    <app-product-details (modalStatus)="onCloseModal($event)" [product]="currentProduct"></app-product-details>
</div>