<header class="bg-main py-5 position-relative d-flex align-items-center" style="z-index: 0;height: 100vh;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 my-3 d-flex align-items-center">
                <div class="header-info">
                    <span class="subtitle text-pink"><i class="fas fa-fire"></i> {{ "home.section1.subtitle" | translate
                        }}</span>
                    <h1 class="title" style="font-size: 40px;">
                        {{ "home.section1.title" | translate }}
                        <br>
                        {{ "home.section1.title2" | translate }}
                    </h1>
                    <div class="slide-action">
                        <div class="shop-btn">
                            <a class="axil-btn btn-bg-white text-reset text-decoration-none" routerLink="../products">
                                <i class="fas fa-shopping-cart"></i> {{ "buttons.shopNow" | translate }}
                            </a>
                        </div>
                        <!-- <div class="item-rating">
                            <div class="thumb">
                                <ul class="d-flex">
                                    <li><img src="assets/images/others/author1.png" alt="Author"></li>
                                    <li><img src="assets/images/others/author2.png" alt="Author"></li>
                                    <li><img src="assets/images/others/author3.png" alt="Author"></li>
                                    <li><img src="assets/images/others/author4.png" alt="Author"></li>
                                </ul>
                            </div>
                            <div class="content">
                                <span class="rating-icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="review-text">
                                    <span>100+</span> {{ "home.section1.reviews" | translate }}
                                </span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 my-3">
                <div class="header-img">
                    <img src="assets/images/abo-steet-logo.gif" alt="Product">
                    <!-- <div class="product-price shadow-lg">
                        <span class="text">{{ "home.section1.img_label" | translate }}</span>
                        <span class="price-amount">250<small><sub>{{ "currency" | translate }}</sub></small></span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <ul class="shape-group">
        <li class="shape-2"><img src="assets/images/shape-1.png" alt="Shape"></li>
    </ul> -->
</header>

<section class="categories axil-categorie-area bg-color-white axil-section-gapcommon position-relative bg-white">
    <div class="container">
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-secondary">
                <i class="fa-solid fa-tags"></i> {{ "home.section2.subtitle" | translate }}
            </span>
            <h2 class="title">{{ "home.section2.title" | translate }}</h2>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-6" *ngFor="let category of categories">
                <div class="slick-single-layout slick-slide slick-current slick-active"
                    (click)="displayProductsByCategoryId(category.id)">
                    <div class="categrie-product sal-animate" data-sal="zoom-out" data-sal-delay="200"
                        data-sal-duration="500">
                        <a class="text-reset">
                            <img class="img-fluid" [src]="category?.image" alt="product categorie">
                            <h6 class="cat-title text-center">{{category?.name}}</h6>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="slick-single-layout slick-slide slick-current slick-active">
                    <div class="categrie-product sal-animate" data-sal="zoom-out" data-sal-delay="200"
                        data-sal-duration="500">
                        <a routerLink="../products" class="text-reset">
                            <img class="img-fluid" src="./assets/images/categories/men.png" alt="product categorie">
                            <h6 class="cat-title text-center">Men</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="slick-single-layout slick-slide slick-current slick-active">
                    <div class="categrie-product sal-animate" data-sal="zoom-out" data-sal-delay="200"
                        data-sal-duration="500">
                        <a routerLink="../products" class="text-reset">
                            <img class="img-fluid" src="./assets/images/categories/women.png" alt="product categorie">
                            <h6 class="cat-title text-center">Women</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="slick-single-layout slick-slide slick-current slick-active">
                    <div class="categrie-product sal-animate" data-sal="zoom-out" data-sal-delay="200"
                        data-sal-duration="500">
                        <a routerLink="../products" class="text-reset">
                            <img class="img-fluid" src="./assets/images/categories/slippers.png"
                                alt="product categorie">
                            <h6 class="cat-title text-center">Slippers</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="slick-single-layout slick-slide slick-current slick-active">
                    <div class="categrie-product sal-animate" data-sal="zoom-out" data-sal-delay="200"
                        data-sal-duration="500">
                        <a routerLink="../products" class="text-reset">
                            <img class="img-fluid" src="./assets/images/categories/shoes.png" alt="product categorie">
                            <h6 class="cat-title text-center">Shoes</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="slick-single-layout slick-slide slick-current slick-active">
                    <div class="categrie-product sal-animate" data-sal="zoom-out" data-sal-delay="200"
                        data-sal-duration="500">
                        <a routerLink="../products" class="text-reset">
                            <img class="img-fluid" src="./assets/images/categories/sports.png" alt="product categorie">
                            <h6 class="cat-title text-center">Sports</h6>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="section4">
    <div class="container4 p-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="icon2 d-flex justify-content-center align-items-center m-auto mb-2"> 
                        <i  class="fas fa-users fa-2x"></i> 
                            <!-- <i class="fa-solid fa-sack-dollar"></i>     -->
                    </span>
                    <b class="text-white">{{categories[0].array.orders}}</b>
                    <div class="text-white"><b>{{"home.section4.orders" | translate}}</b></div>
                </div>

                <div class="col-md-6">
                    <span class="icon2 d-flex justify-content-center align-items-center m-auto mb-2"> 
                        <i class="fa-solid fa-comment-dots fa-2x"></i>
                    </span>
                    <b class="text-white">{{categories[0].array.comments}}</b>
                    <div class="text-white"><b>{{"home.section4.comments" | translate}}</b></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products axil-product-area bg-color-white axil-section-gap position-relative bg-white">
    <div class="container">
        <div class="section-title-wrapper p-0">
            <span class="title-highlighter highlighter-primary">
                <i class="fas fa-shopping-basket"></i> {{ "home.section3.subtitle" | translate }}
            </span>
            <div class="d-flex justify-content-between flex-wrap align-items-center">
                <h2 class="title"> {{ "home.section3.title" | translate }}</h2>
                <div>
                    <!-- <div class="shop-btn btn-bg-primary">
                        <a class="axil-btn btn-bg-primary pointer" routerLink="../products"> {{ "buttons.allProducts" | translate }} </a>
                    </div> -->

                    <button routerLink="../products" class="axil-btn btn-bg-primary danger m-1"> {{
                        "buttons.allProducts" | translate }} </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-4" *ngFor="let product of products">
                <div class="axil-product product-style-one">
                    <div class="thumbnail">
                        <a tabindex="0">
                            <img class="hover-img" [src]="product.images[0].image" style="height: 300px;"
                                alt="Product Images">
                        </a>
                        <div class="label-block label-right">
                            <div class="product-badget"> {{ "labels.new" | translate: {min:product.min_quantity} }}
                            </div>
                        </div>
                        <div class="product-hover-action">
                            <ul class="cart-action p-0">
                                <li class="quickview"><a class="pointer" (click)="displayDetails(product)"><i
                                            class="far fa-eye"></i></a></li>
                                <li class="select-option" (click)="addToCart(product)">
                                    <a class="pointer" tabindex="0">
                                        {{ "buttons.addToCart" | translate }}
                                    </a>
                                </li>
                                <li class="wishlist"><a class="pointer" tabindex="0"><i class="far fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="inner">
                            <div class="product-rating">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="rating-number text-muted">({{product.id + 20}})</span>
                            </div>
                            <h5 class="title">
                                <a class="text-reset">{{product?.name}}</a>
                            </h5>
                            <div class="product-price-variant">
                                <span class="price current-price">{{product?.price}} {{ "currency" | translate }}</span>
                                <span class="price old-price" *ngIf="product?.old_price">{{product?.price}} {{
                                    "currency" | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div *ngIf="productDetailsStatus">
    <app-product-details (modalStatus)="onCloseModal($event)" [product]="currentProduct"></app-product-details>
</div>

