<main class="main-wrapper pt-5">

    <!-- Start Cart Area  -->
    <div class="axil-product-cart-area axil-section-gap pt-5">
        <div class="container pt-5">
            <div class="axil-product-cart-wrap">
                <div class="product-table-heading">
                    <h4 class="title">{{"cart.title"|translate}}</h4>
                    <a (click)="clearCart()" class="cart-clear pointer"
                        *ngIf="cart.length;">{{"buttons.clearShoppingCart"|translate}}</a>
                </div>
                <div class="table-responsive" *ngIf="cart.length;else other_content">
                    <table class="table axil-product-table axil-cart-table mb--40">
                        <thead>
                            <tr>
                                <th scope="col" class="product-remove"></th>
                                <th scope="col" class="product-thumbnail">{{"cart.tableHeader.product"|translate}}</th>
                                <th scope="col" class="product-title"></th>
                                <th scope="col" class="product-price">{{"cart.tableHeader.price"|translate}}</th>
                                <th scope="col" class="product-quantity">{{"cart.tableHeader.quantity"|translate}}</th>
                                <th scope="col" class="product-subtotal">{{"cart.tableHeader.subtotal"|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of cart">
                                <td class="product-remove">
                                    <a (click)="updateCart(product)" class="remove-wishlist pointer">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                                <td class="product-thumbnail">
                                    <a>
                                        <img [src]="product.images[0].image" [alt]="product.name">
                                    </a>
                                </td>
                                <td class="product-title"><a>{{product.name}}</a></td>
                                <td class="product-price" [attr.data-title]="price"><span
                                        class="currency-symbol">{{product.price}}</span> {{"currency"|translate}}</td>
                                <td class="product-quantity" [attr.data-title]="qty">
                                    <div class="pro-qty">
                                        <!-- <span class="dec qtybtn">-</span>
                                        <input type="text" class="quantity-input" value="1" readonly>
                                        <span class="inc qtybtn">+</span> -->
                                        <span class="dec qtybtn" (click)="decreaseItem(product)">-</span>
                                        <input type="text" readonly class="quantity-input" [value]="product.quantity">
                                        <span class="inc qtybtn" (click)="increaseItem(product)">+</span>
                                    </div>
                                </td>
                                <td class="product-subtotal" [attr.data-title]="subtotal">
                                    <span class="currency-symbol">{{product.price*(product.quantity)}}</span>
                                    {{"currency"|translate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="cart-update-btn-area mt-4" *ngIf="cart.length;">
                    <div class="input-group product-cupon">
                        <input placeholder="{{'cart.coupon_placeholder'|translate}}" type="text">
                        <div class="product-cupon-btn">
                            <button type="button" (click)="applyCoupon()"
                                class="axil-btn btn-outline">{{"buttons.apply"|translate}}</button>
                        </div>
                    </div>
                    <div class="update-btn">
                        <a routerLink="../products"
                            class="axil-btn btn-outline text-reset pointer">{{"buttons.updateCart"|translate}}</a>
                    </div>
                </div> -->
                <div class="row" *ngIf="cart.length;">
                    <div class="col-xl-5 col-lg-7 offset-xl-7 offset-lg-5">
                        <div class="axil-order-summery mt--80">
                            <h5 class="title mb--20">{{"cart.payment.title"|translate}}</h5>
                            <div class="summery-table-wrap">
                                <table class="table summery-table mb--30">
                                    <tbody>
                                        <tr class="order-subtotal">
                                            <td>{{"cart.payment.subtotal"|translate}}</td>
                                            <td>{{totalPrice}} {{"currency"|translate}}</td>
                                        </tr>
                                        <tr class="order-shipping">
                                            <td>{{"cart.payment.shipping.title"|translate}}</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="radio" id="radio1" name="shipping" checked="">
                                                    <label
                                                        for="radio1">{{"cart.payment.shipping.free"|translate}}</label>
                                                </div>
                                                <!-- <div class="input-group">
                                                    <input type="radio" id="radio2" name="shipping">
                                                    <label for="radio2">{{"cart.payment.shipping.local"|translate}} 0 {{"currency"|translate}}</label>
                                                </div>
                                                <div class="input-group">
                                                    <input type="radio" id="radio3" name="shipping">
                                                    <label for="radio3">{{"cart.payment.shipping.flatRate"|translate}} 0 {{"currency"|translate}}</label>
                                                </div> -->
                                            </td>
                                        </tr>
                                        <tr class="order-tax">
                                            <td>{{"cart.payment.stateTax"|translate}}</td>
                                            <td>0 {{"currency"|translate}}</td>
                                        </tr>
                                        <tr class="order-total">
                                            <td>{{"cart.payment.total"|translate}}</td>
                                            <td class="order-total-amount">{{totalPrice}} {{"currency"|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a routerLink="../checkout"
                                class="axil-btn btn-bg-primary checkout-btn">{{"buttons.processToCheckout"|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cart Area  -->

</main>

<ng-template #other_content>
    <div class="my-5">
        <div class="container py-5">
            <div class="text-danger my-5 text-center">
                <span class="py-5">
                    {{"cart.payment.emptyMsg" | translate}}
                </span>
            </div>
        </div>
    </div>
</ng-template>