<nav class="axil-mainmenu axil-sticky">
    <div class="container">
        <div class="header-navbar justify-content-between">
            <div class="header-brand">
                <a href="index.html" class="logo logo-dark">
                    <img src="assets/images/logo.jpg" style="width: 50px;max-width: 50px;" alt="Site Logo">
                </a>
            </div>
            <div class="header-main-nav" #navbar>
                <nav class="mainmenu-nav">
                    <button class="mobile-close-btn mobile-nav-toggler" (click)="closeSidebar(navbar)"><i
                            class="fas fa-times"></i></button>
                    <div class="mobile-nav-brand">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.jpg" alt="Site Logo">
                        </a>
                    </div>
                    <ul class="mainmenu">
                        <li class="menu-item-has-children" routerLinkActive='menu-item-open'
                            (click)="closeSidebar(navbar)">
                            <a routerLink="home">{{"pages.home"|translate}}</a>
                        </li>
                        <li class="menu-item-has-children" routerLinkActive='menu-item-open'
                            (click)="closeSidebar(navbar)"><a routerLink="products">{{"pages.shop"|translate}}</a></li>
                        <li routerLinkActive='menu-item-open' class="menu-item-has-children"
                            (click)="closeSidebar(navbar)"><a routerLink="about">{{"pages.about"|translate}}</a></li>
                        <li routerLinkActive='menu-item-open' class="menu-item-has-children"
                            (click)="closeSidebar(navbar)"><a routerLink="contact">{{"pages.contact"|translate}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-action">
                <ul class="action-list">
                    <!-- <li class="axil-search">
                        <a href="javascript:void(0)" class="header-search-icon" title="Search">
                            <i style="font-size: 20px;" class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                    <li class="wishlist">
                        <a href="wishlist.html">
                            <i style="font-size: 20px;" class="fa-regular fa-heart"></i>
                        </a>
                    </li> -->
                    <li class="shopping-cart" (click)="openSidebar(cartSidebar)">
                        <a href="#" class="cart-dropdown-btn">
                            <span class="cart-count">{{cartCount}}</span>
                            <i style="font-size: 20px;" class="fa-solid fa-cart-plus"></i>
                        </a>
                    </li>
                    <li class="my-account position-relative">
                        <a href="javascript:void(0)" (click)="toggleProfileList(profileList)">
                            <!-- <i class="flaticon-person"></i> -->
                            <i style="font-size: 20px;" class="fa-regular fa-user"></i>
                        </a>
                        <div class="my-account-dropdown" #profileList>
                            <span class="title">{{"profile.title"|translate}}</span>
                            <ul class="quick-links p-0">
                                <!-- <li  (click)="toggleProfileList(profileList)">
                                    <a class="text-reset pointer" >{{"profile.account"|translate}}</a>
                                </li> -->
                                <li (click)="toggleProfileList(profileList)">
                                    <a class="text-reset pointer"
                                        href="https://api.whatsapp.com/send?phone=+201062794576"
                                        target="_blank" rel="noopener noreferrer">{{"profile.support"|translate}}</a>
                                </li>
                                <li (click)="changeLang();toggleProfileList(profileList)">
                                    <a class="text-reset pointer">{{"profile.lang"|translate}}</a>
                                </li>
                            </ul>
                            <!-- <div class="login-btn">
                                <a href="sign-in.html" class="axil-btn btn-bg-primary">{{"profile.login"|translate}}</a>
                            </div>
                            <div class="reg-footer text-center">{{"profile.registerLabel"|translate}} <a 
                                    class="btn-link pointer">{{"profile.register"|translate}}</a></div> -->
                        </div>
                    </li>
                    <li class="axil-mobile-toggle" (click)="openSidebar(navbar)">
                        <button class="menu-btn mobile-nav-toggler">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="closeMask"></div>
        </div>
    </div>
</nav>

<div class="cart-dropdown" id="cart-dropdown" #cartSidebar>
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">{{"labels.cartReview" | translate}}</h2>
            <button (click)="closeSidebar(cartSidebar)" class="cart-close sidebar-close"><i
                    class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
            <ng-template #other_content>
                <div class="text-danger my-5 text-center">
                    {{"cart.payment.emptyMsg" | translate}}
                </div>
            </ng-template>

            <ul class="cart-item-list p-0" *ngIf="cart.length;else other_content">
                <li class="cart-item" *ngFor="let product of cart">
                    <div class="item-img">
                        <a><img [src]="product.images[0].image" alt="Commodo Blown Lamp"></a>
                        <button class="close-btn" (click)="updateCart(product)"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="rating-number">({{product.id+20}})</span>
                        </div>
                        <h3 class="item-title"><a class="text-reset">{{product.name}}</a></h3>
                        <div class="item-price"><span
                                class="currency-symbol">{{product.price}}</span>{{"currency"|translate}}</div>
                        <div class="pro-qty item-quantity">
                            <span class="dec qtybtn"
                                (click)="decreaseItem(product,product.count?product.count:1)">-</span>
                            <input type="text" readonly class="quantity-input" [value]="product.count?product.count:1">
                            <span class="inc qtybtn"
                                (click)="increaseItem(product,product.count?product.count:1)">+</span>
                        </div>
                    </div>
                </li>
                <!-- <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product-2.html"><img src="assets/images/products/electric/product-02.png" alt="Commodo Blown Lamp"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                            <span class="rating-number">(4)</span>
                        </div>
                        <h3 class="item-title"><a class="text-reset" href="single-product-2.html">Gradient Light Keyboard</a></h3>
                        <div class="item-price"><span class="currency-symbol">$</span>255.00</div>
                        <div class="pro-qty item-quantity"><span class="dec qtybtn">-</span>
                            <input type="text" readonly class="quantity-input" value="5">
                        <span class="inc qtybtn">+</span></div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product-3.html"><img src="assets/images/products/electric/product-03.png" alt="Commodo Blown Lamp"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                            <span class="rating-number">(6)</span>
                        </div>
                        <h3 class="item-title"><a class="text-reset" href="single-product.html">HD CC Camera</a></h3>
                        <div class="item-price"><span class="currency-symbol">$</span>200.00</div>
                        <div class="pro-qty item-quantity"><span class="dec qtybtn">-</span>
                            <input type="text" readonly class="quantity-input" value="100">
                        <span class="inc qtybtn">+</span></div>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="cart-footer" *ngIf="cart.length;">
            <h3 class="cart-subtotal">
                <span class="subtotal-title">{{"labels.subtotal" | translate}}:</span>
                <span class="subtotal-amount"><span class="mx-1">{{totalPrice}}</span>{{"currency" | translate}}</span>
            </h3>
            <div class="group-btn">
                <a (click)="closeCart(cartSidebar)" routerLink="cart"
                    class="axil-btn btn-bg-primary viewcart-btn">{{"buttons.viewCart" | translate}}</a>
                <a (click)="closeCart(cartSidebar)" routerLink="checkout"
                    class="axil-btn btn-bg-secondary checkout-btn text-white">{{"buttons.checkout" | translate}}</a>
            </div>
        </div>
    </div>
</div>