<nav class="axil-mainmenu axil-sticky">
    <div class="container">
        <div class="header-navbar justify-content-between">
            <div class="header-brand">
                <a href="index.html" class="logo logo-dark">
                    <img src="assets/images/logo.jpg" style="width: 50px;max-width: 50px;" alt="Site Logo">
                </a>
            </div>
            <div class="header-main-nav" #navbar>
                <nav class="mainmenu-nav">
                    <button class="mobile-close-btn mobile-nav-toggler" (click)="closeSidebar(navbar)"><i class="fas fa-times"></i></button>
                    <div class="mobile-nav-brand">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.jpg" alt="Site Logo">
                        </a>
                    </div>
                    <ul class="mainmenu">
                        <li class="menu-item-has-children" routerLinkActive='menu-item-open' (click)="closeSidebar(navbar)">
                            <a routerLink="home">{{"pages.home"|translate}}</a>
                        </li>
                        <li class="menu-item-has-children" routerLinkActive='menu-item-open'  (click)="closeSidebar(navbar)"><a
                                routerLink="products">{{"pages.shop"|translate}}</a></li>
                        <li routerLinkActive='menu-item-open' class="menu-item-has-children"  (click)="closeSidebar(navbar)"><a routerLink="about">{{"pages.about"|translate}}</a></li>
                        <li routerLinkActive='menu-item-open' class="menu-item-has-children"  (click)="closeSidebar(navbar)"><a routerLink="contact">{{"pages.contact"|translate}}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-action">
                <ul class="action-list">
                    <li class="axil-search">
                        <a href="javascript:void(0)" class="header-search-icon" title="Search">
                            <i style="font-size: 20px;" class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                    <li class="wishlist">
                        <a href="wishlist.html">
                            <i style="font-size: 20px;" class="fa-regular fa-heart"></i>
                        </a>
                    </li>
                    <li class="shopping-cart" (click)="openSidebar(cartSidebar)">
                        <a href="#" class="cart-dropdown-btn">
                            <span class="cart-count">3</span>
                            <i style="font-size: 20px;" class="fa-solid fa-cart-plus"></i>
                        </a>
                    </li>
                    <li class="my-account position-relative ">
                        <a href="javascript:void(0)">
                            <!-- <i class="flaticon-person"></i> -->
                            <i style="font-size: 20px;" class="fa-regular fa-user"></i>
                        </a>
                        <div class="my-account-dropdown ">
                            <span class="title">QUICKLINKS</span>
                            <ul class="quick-links">
                                <li>
                                    <a class="text-reset" href="my-account.html">My Account</a>
                                </li>
                                <li>
                                    <a class="text-reset" href="#">Initiate return</a>
                                </li>
                                <li>
                                    <a class="text-reset" href="#">Support</a>
                                </li>
                                <li>
                                    <a class="text-reset" href="#">Language</a>
                                </li>
                            </ul>
                            <div class="login-btn">
                                <a href="sign-in.html" class="axil-btn btn-bg-primary">Login</a>
                            </div>
                            <div class="reg-footer text-center">No account yet? <a href="sign-up.html"
                                    class="btn-link">REGISTER HERE.</a></div>
                        </div>
                    </li>
                    <li class="axil-mobile-toggle" (click)="openSidebar(navbar)">
                        <button class="menu-btn mobile-nav-toggler">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="closeMask"></div>
        </div>
    </div>
</nav>

<div class="cart-dropdown" id="cart-dropdown" #cartSidebar>
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">{{"labels.cartReview" | translate}}</h2>
            <button (click)="closeSidebar(cartSidebar)" class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
            <ul class="cart-item-list p-0">
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product.html"><img src="assets/images/products/electric/product-01.png" alt="Commodo Blown Lamp"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                            <span class="rating-number">(64)</span>
                        </div>
                        <h3 class="item-title"><a class="text-reset" href="single-product-3.html">Wireless PS Handler</a></h3>
                        <div class="item-price"><span class="currency-symbol">$</span>155.00</div>
                        <div class="pro-qty item-quantity"><span class="dec qtybtn">-</span>
                            <input type="text" readonly class="quantity-input" value="15">
                        <span class="inc qtybtn">+</span></div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product-2.html"><img src="assets/images/products/electric/product-02.png" alt="Commodo Blown Lamp"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                            <span class="rating-number">(4)</span>
                        </div>
                        <h3 class="item-title"><a class="text-reset" href="single-product-2.html">Gradient Light Keyboard</a></h3>
                        <div class="item-price"><span class="currency-symbol">$</span>255.00</div>
                        <div class="pro-qty item-quantity"><span class="dec qtybtn">-</span>
                            <input type="text" readonly class="quantity-input" value="5">
                        <span class="inc qtybtn">+</span></div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product-3.html"><img src="assets/images/products/electric/product-03.png" alt="Commodo Blown Lamp"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                            <span class="rating-number">(6)</span>
                        </div>
                        <h3 class="item-title"><a class="text-reset" href="single-product.html">HD CC Camera</a></h3>
                        <div class="item-price"><span class="currency-symbol">$</span>200.00</div>
                        <div class="pro-qty item-quantity"><span class="dec qtybtn">-</span>
                            <input type="text" readonly class="quantity-input" value="100">
                        <span class="inc qtybtn">+</span></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cart-footer">
            <h3 class="cart-subtotal">
                <span class="subtotal-title">{{"labels.subtotal" | translate}}:</span>
                <span class="subtotal-amount"><span class="mx-1">610.00</span>{{"currency" | translate}}</span>
            </h3>
            <div class="group-btn">
                <a (click)="closeCart(cartSidebar)" routerLink="cart" class="axil-btn btn-bg-primary viewcart-btn">{{"buttons.viewCart" | translate}}</a>
                <a (click)="closeCart(cartSidebar)" routerLink="checkout" class="axil-btn btn-bg-secondary checkout-btn text-white">{{"buttons.checkout" | translate}}</a>
            </div>
        </div>
    </div>
</div>