<main class="py-4">
    <section class="my-5">
        <div class="container py-5">
            <div class="row py-5">
                <p-table [value]="products" [(selection)]="selectedProducts" dataKey="id" [paginator]="true"
                    [rows]="PaginationInfo?.per_page" [totalRecords]="PaginationInfo?.total" [lazy]="true"
                    (onPage)="paginate($event)" [showCurrentPageReport]="true" responsiveLayout="scroll"
                    currentPageReportTemplate="Showing {{PaginationInfo?.from}} to {{PaginationInfo?.to}} of {{PaginationInfo?.total}} entries"
                    [rowsPerPageOptions]="[10,25,50,100]">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton [label]="filterBtnText" class="p-button-outlined" icon="pi pi-filter" (click)="filterActiveProduct(1,filter)"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center">الصورة</th>
                            <th class="text-center">السعر</th>
                            <th class="text-center">أقل كمية</th>
                            <th class="text-center">حالة المنتج</th>
                            <th style="width: 14rem">
                                حذف من العرض؟
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td class="text-center">
                                <p-image *ngFor="let img of product?.images" [src]="img?.image" alt="Product Image"
                                    width="140" height="140" class="m-1" [preview]="true">
                                </p-image>
                            </td>
                            <td class="text-center">{{product.price}}</td>
                            <td class="text-center">{{product.quantity}}</td>
                            <td class="text-center">
                                <p-tag [value]="product.active == 1 ? 'متاح':'غير متاح'"
                                    [severity]="getSeverity(product.active)"></p-tag>
                            </td>
                            <td>
                                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

             

                <button class="btn btn-primary w-100" (click)="confirm()">
                    تغيير حاله المنتجات
                </button>
            </div>
        </div>
    </section>
</main>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>