.axil-section-gap {
    padding: 80px 0;
}

.axil-checkout-notice {
    margin-bottom: 40px;
}

.axil-checkout-notice .axil-toggle-box {
    margin-bottom: 20px;
}

.axil-checkout-notice .toggle-bar {
    background-color: var(--color-lighter);
    border-radius: 6px;
    padding: 17px 30px;
}

.axil-checkout-notice .toggle-bar i {
    margin-right: 8px;
}

.axil-checkout-notice .toggle-bar a {
    font-weight: 500;
    transition: var(--transition);
}

.axil-checkout-notice .toggle-bar a i {
    color: var(--color-body);
    margin-left: 5px;
}

.axil-checkout-notice .toggle-bar i {
    margin-right: 8px;
}

.axil-checkout-notice .axil-checkout-coupon {
    border: 1px solid var(--color-light);
    border-radius: 16px;
    padding: 30px;
}

.axil-checkout-notice .toggle-open {
    // display: none;
    margin-top: 20px;
}

.axil-checkout-notice .axil-checkout-coupon p {
    font-size: var(--font-size-b2);
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

//  coupon input
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.axil-checkout-notice .axil-checkout-coupon input {
    border: 1px solid var(--color-light);
    width: auto;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px !important;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
textarea {
    font-size: var(--font-size-b2);
    font-weight: 400;
    height: auto;
    line-height: 60px;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 30px;
    outline: none;
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius);
}

input {
    height: 40px;
    padding: 0 15px;
}

input,
button,
select,
textarea {
    background: var(--color-lighter);
    // border: 1px solid var(--color-border);
    transition: all .4s ease-out 0s;
    color: var(--color-heading);
    width: 100%;
}

// 
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

// coupon btn
.axil-checkout-notice .axil-checkout-coupon .axil-btn {
    border-width: 1px;
    padding: 12px 40px;
    border-color: var(--color-light);
}

a.axil-btn.btn-bg-primary,
button.axil-btn.btn-bg-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

a.axil-btn,
button.axil-btn {
    border-radius: 6px;
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    font-weight: 700;
    display: inline-block;
    padding: 16px 38px;
    position: relative;
    transition: all .3s ease-in-out;
    z-index: 1;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

a.axil-btn.btn-bg-primary:before,
button.axil-btn.btn-bg-primary:before {
    background-color: var(--color-primary);
}

a.axil-btn:before,
button.axil-btn:before {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

//Billing details 
.axil-checkout-billing .title {
    font-weight: var(--s-medium);
}

.mb--40 {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group label {
    position: absolute;
    top: -11px;
    left: 20px;
    pointer-events: none;
    z-index: 4;
    background: #fff;
    padding: 0 10px;
}

.axil-checkout-billing .form-group input {
    height: 60px;
    border-color: var(--color-light);
    padding: 0 30px;
}

.form-group input {
    border: 0 none;
    border-radius: 6px;
    height: 50px;
    font-size: var(--font-size-b2);
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid var(--color-light);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
textarea {
    font-size: var(--font-size-b2);
    font-weight: 400;
    height: auto;
    line-height: 60px;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 30px;
    outline: none;
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius);
}

.widget_rss ul li a,
.tagcloud a,
.comment-list .comment .reply-edit a.comment-reply-link,
.axil-post-meta .post-meta-content .author-title a,
.content-blog.format-quote .inner .content blockquote .title a,
.content-blog .content .title a,
.cart-dropdown .cart-header .cart-close,
.header-search-modal .card-close,
.header-action .my-account .my-account-dropdown,
.pv-single-demo .title,
.arrow-both-side-4 .slide-arrow,
.arrow-both-side-3 .slide-arrow,
.arrow-both-side-2 .slide-arrow,
.arrow-both-side .slide-arrow,
.arrow-between-side .slide-arrow,
input[type=submit],
.form-group textarea,
.form-group input,
#scrollUp,
ul li a,
ol li a {
    transition: var(--transition);
}

input {
    height: 40px;
    padding: 0 15px;
}



// select
.axil-checkout-billing .form-group select {
    border-color: var(--color-light);
}

select,
.select2 {
    cursor: pointer;
    transition: .3s;
    height: 55px;
    padding: 0 30px;
    outline: none;
    color: var(--color-body);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--color-border-light);
    border-radius: 6px;
    background: url(../../../assets/images/icons/arrow-icon.png) 95% center no-repeat rgba(0, 0, 0, 0);
    padding-right: 32px;
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    font-family: var(--font-secondary);
}

.axil-checkout-billing .form-group label span {
    color: var(--color-chart03);
}

.mb--15 {
    margin-bottom: 15px;
}

.axil-checkout-billing .form-group textarea {
    border-color: var(--color-light);
    padding: 15px 30px;
    line-height: var(--line-height-b2);
}

.form-group textarea {
    min-height: 160px;
    border: 0 none;
    border-radius: 6px;
    resize: none;
    padding: 15px;
    font-size: var(--font-size-b2);
    background-color: #fff;
    border: 1px solid var(--color-light);
    line-height: 1.5;
    padding-left: 30px;
    padding-top: 20px;
}

// checkout second column
.axil-order-summery {
    background-color: #f9f3f0;
    border-radius: 6px;
    padding: 40px;
}

.axil-order-summery .title {
    font-weight: var(--s-medium);
}

.mb--20 {
    margin-bottom: 20px;
}

.axil-order-summery.order-checkout-summery .summery-table-wrap {
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 45px;
}

.axil-order-summery.order-checkout-summery .summery-table th {
    font-size: 20px;
    color: var(--color-heading);
    text-transform: capitalize;
    padding: 15px 0;
}

.axil-order-summery .summery-table tbody {
    border-top: none !important;
}

.axil-order-summery.order-checkout-summery .summery-table td {
    padding: 18px 0;
}

.axil-order-summery .summery-table tbody td {
    border-bottom: 1px solid;
    border-color: rgba(101, 105, 115, .2);
    font-size: var(--font-size-b1);
    font-weight: var(--s-medium);
    color: #292930;
    padding: 18px 15px 18px 0;
    min-width: 180px;
}

.axil-order-summery.order-checkout-summery .summery-table th:last-child,
.axil-order-summery.order-checkout-summery .summery-table td:last-child {
    text-align: right;
}

.axil-order-summery.order-checkout-summery .summery-table tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.axil-order-summery.order-checkout-summery .summery-table .order-total td {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
}

.axil-order-summery.order-checkout-summery .summery-table .order-shipping td {
    text-align: left;
}

.axil-order-summery.order-checkout-summery .summery-table .order-shipping .shipping-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.axil-order-summery.order-checkout-summery .summery-table .order-shipping .shipping-amount .title {
    display: inline-block;
}

.axil-order-summery .title {
    font-weight: var(--s-medium);
}

.axil-order-summery.order-checkout-summery .summery-table .order-shipping .input-group {
    margin-bottom: 5px;
}

// checkbox - radio
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type=checkbox],
input[type=radio] {
    opacity: 0;
    position: absolute;
}

input[type=checkbox],
input[type=radio] {
    padding: 0;
}

input {
    height: 40px;
    padding: 0 15px;
}



button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.axil-order-summery.order-checkout-summery .summery-table .order-shipping .input-group label {
    color: var(--color-body);
    padding-left: 26px;
}

.axil-order-summery .summery-table .order-shipping .input-group label {
    color: #292930;
    font-weight: 400;
}

input[type=checkbox]~label,
input[type=radio]~label {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-body);
    font-weight: 500;
    padding-left: 28px;
    cursor: pointer;
}

label {
    display: inline-block;
}

.axil-order-summery .summery-table .order-shipping .input-group label:before {
    border-width: 2px;
    border-color: #d5d4d4;
}

input[type=checkbox]:checked~label::before,
input[type=radio]:checked~label::before {
    background-color: var(--color-primary);
    border: var(--border-width) solid var(--color-primary);
}

input[type=radio]~label::before {
    border-radius: 50%;
}

input[type=checkbox]~label::before,
input[type=radio]~label::before {
    content: " ";
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: var(--border-thin) solid var(--color-body);
    transition: all .3s;
}

.axil-order-summery .summery-table .order-shipping .input-group label:after {
    background-color: var(--color-primary);
    border: none;
}

input[type=checkbox]:checked~label::after,
input[type=radio]:checked~label::after {
    opacity: 1;
}

input[type=radio]~label::after {
    width: 8px;
    height: 8px;
    left: 4px;
    top: 6px;
    background: #fff;
    border-radius: 50%;
}

// bank
.axil-order-summery.order-checkout-summery .order-payment-method .single-payment {
    border-bottom: 1px solid var(--color-light);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.axil-order-summery.order-checkout-summery .order-payment-method .single-payment .input-group {
    margin-bottom: 20px;
}

.axil-order-summery.order-checkout-summery .order-payment-method .single-payment p {
    padding-left: 28px;
}

p:last-child {
    margin-bottom: 0;
}

.axil-order-summery.order-checkout-summery .order-payment-method .single-payment .input-group label {
    font-size: 20px;
    color: #292930;
}

.axil-order-summery.order-checkout-summery .order-payment-method .single-payment .input-group label:after {
    content: "ï€Œ";
    font-family: var(--font-awesome);
    font-size: 8px;
    color: var(--color-white);
    font-weight: 900;
    line-height: 8px;
    transform: rotate(0deg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

input[type=checkbox]:checked~label::after,
input[type=radio]:checked~label::after {
    opacity: 1;
}

.axil-order-summery.order-checkout-summery .order-payment-method .single-payment p {
    padding-left: 28px;
}

p:last-child {
    margin-bottom: 0;
}

p {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    font-weight: var(--p-regular);
    color: var(--color-body);
    margin: 0 0 30px;
}

input[type=radio]~label::after {
    position: absolute;
}

// responsive
@media only screen and (max-width: 767px) {

    a.axil-btn,
    button.axil-btn {
        padding: 12px 25px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {

    h4,
    .h4 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .axil-order-summery {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 991px) {
    .axil-order-summery .title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 579px) {
    .axil-order-summery.order-checkout-summery .summery-table-wrap {
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-width: 575px) {
    .axil-order-summery.order-checkout-summery .summery-table td {
        min-width: 100px;
    }
}

@media only screen and (max-width: 479px) {
    .axil-order-summery .summery-table tbody td {
        min-width: 90px;
    }
}

@media only screen and (max-width: 767px) {

    a.axil-btn,
    button.axil-btn {
        padding: 12px 25px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .axil-order-summery.order-checkout-summery .order-payment-method .single-payment .input-group label {
        font-size: 18px;
    }
}
